@{
	ViewBag.Title = "Create Person";
}

<a href="~/persons/index" class="link-hover">Back to Persons list</a>
@*title*@
<h1>Create Person</h1>

@*form*@
<div class="w-50">
	<form action="~/persons/create" method="post">
		@*Person Name*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="PersonName">Person Name</label>
			</div>
			<div class="flex-1">
				<input class="form-input" id="PersonName" type="text" name="PersonName" />
			</div>
		</div>

		@*Email*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="Email">Email</label>
			</div>
			<div class="flex-1">
				<input class="form-input" id="Email" type="email" name="Email" />
			</div>
		</div>

		@*Date of Birth*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="DateOfBirth">Date of Birth</label>
			</div>
			<div class="flex-1">
				<input class="form-input" id="DateOfBirth" type="date" name="DateOfBirth" />
			</div>
		</div>

		@*Gender*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label">Gender</label>
			</div>
			<div class="flex-1">
				<input class="ml" id="Male" type="radio" name="Gender" value="Male" />
				<label for="Male">Male</label>
				<input class="ml" id="Female" type="radio" name="Gender" value="Female" />
				<label for="Female">Female</label>
			</div>
		</div>

		@*Country*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label" for="CountryID">Country</label>
			</div>
			<div class="flex-1">
				<select class="form-input" name="CountryID" id="CountryID">
					<option value="">Select Country</option>
					@foreach (CountryResponse country in ViewBag.Countries)
					{
						<option value="@country.CountryID">@country.CountryName</option>
					}
				</select>
			</div>
		</div>

		@*Address*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="Address">Address</label>
			</div>
			<div class="flex-1">
				<textarea class="form-input" id="Address" name="Address"></textarea>
			</div>
		</div>

		@*Receives News Letters*@
		<div class="form-field flex">
			<div class="w-25"></div>
			<div class="flex-1">
				<input id="ReceiveNewsLetters" type="checkbox" name="ReceiveNewsLetters" value="true" />
				<label for="ReceiveNewsLetters" class="form-label">Receives News Letters</label>
			</div>
		</div>

		@*Submit*@
		<div class="form-field flex">
			<div class="w-25"></div>
			<div class="flex-1">
				<button class="button button-green-back">Create</button>

				@*Display errors if any*@
				@if (ViewBag.Errors != null)
				{
					<div class="text-red ml">
						<ul>
							@foreach (string error in ViewBag.Errors)
							{
								<li class="ml">@error</li>
							}
						</ul>
					</div>
				}
			</div>
		</div>
	</form>
</div>